<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="/style/libs/Bootstrap-min-v4.0.0.css">
    <link rel="stylesheet" href="/style/libs/fontawesome-all.min.css">
    <link rel="stylesheet" href="/style/libs/icons.css">

    <title>Social Buttons by SmartLazyCoding.com</title>

</head>
<body>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="#" class="scl-btn scl-crcl shadow fab fa-facebook-f"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-twitter"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-linkedin-in"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-whatsapp"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-instagram"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-youtube"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-reddit-alien"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-pinterest"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-snapchat-ghost"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-skype"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-google"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-android"></a>
            <a href="#" class="scl-btn scl-crcl shadow fas fa-envelope"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-github"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-vimeo-v"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-tumblr"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-vine"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-foursquare"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-stumbleupon"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-flickr"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-yahoo"></a>
            <a href="#" class="scl-btn scl-crcl shadow fas fa-rss"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-medium-m"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-blogger"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-facebook-messenger"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-paypal"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-steam-symbol"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-telegram-plane"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-xing"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-yelp"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-tripadvisor"></a>
            <a href="#" class="scl-btn scl-crcl shadow fab fa-etsy"></a>
        </div>
        <div class="col-lg-12 text-center mt-3">
            <a href="#" class="scl-btn shadow fab fa-facebook-f"></a>
            <a href="#" class="scl-btn shadow fab fa-twitter"></a>
            <a href="#" class="scl-btn shadow fab fa-linkedin-in"></a>
            <a href="#" class="scl-btn shadow fab fa-whatsapp"></a>
            <a href="#" class="scl-btn shadow fab fa-instagram"></a>
            <a href="#" class="scl-btn shadow fab fa-youtube"></a>
            <a href="#" class="scl-btn shadow fab fa-reddit-alien"></a>
            <a href="#" class="scl-btn shadow fab fa-pinterest"></a>
            <a href="#" class="scl-btn shadow fab fa-snapchat-ghost"></a>
            <a href="#" class="scl-btn shadow fab fa-skype"></a>
            <a href="#" class="scl-btn shadow fab fa-google"></a>
            <a href="#" class="scl-btn shadow fab fa-android"></a>
            <a href="#" class="scl-btn shadow fas fa-envelope"></a>
            <a href="#" class="scl-btn shadow fab fa-github"></a>
            <a href="#" class="scl-btn shadow fab fa-vimeo-v"></a>
            <a href="#" class="scl-btn shadow fab fa-tumblr"></a>
            <a href="#" class="scl-btn shadow fab fa-vine"></a>
            <a href="#" class="scl-btn shadow fab fa-foursquare"></a>
            <a href="#" class="scl-btn shadow fab fa-stumbleupon"></a>
            <a href="#" class="scl-btn shadow fab fa-flickr"></a>
            <a href="#" class="scl-btn shadow fab fa-yahoo"></a>
            <a href="#" class="scl-btn shadow fas fa-rss"></a>
            <a href="#" class="scl-btn shadow fab fa-medium-m"></a>
            <a href="#" class="scl-btn shadow fab fa-blogger"></a>
            <a href="#" class="scl-btn shadow fab fa-facebook-messenger"></a>
            <a href="#" class="scl-btn shadow fab fa-paypal"></a>
            <a href="#" class="scl-btn shadow fab fa-steam-symbol"></a>
            <a href="#" class="scl-btn shadow fab fa-telegram-plane"></a>
            <a href="#" class="scl-btn shadow fab fa-xing"></a>
            <a href="#" class="scl-btn shadow fab fa-yelp"></a>
            <a href="#" class="scl-btn shadow fab fa-tripadvisor"></a>
            <a href="#" class="scl-btn shadow fab fa-etsy"></a>
        </div>
        <div class="col-lg-12 text-center mt-3">
            <a href="#" class="scl-btn scl-rnd shadow fab fa-facebook-f"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-twitter"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-linkedin-in"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-whatsapp"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-instagram"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-youtube"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-reddit-alien"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-pinterest"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-snapchat-ghost"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-skype"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-google"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-android"></a>
            <a href="#" class="scl-btn scl-rnd shadow fas fa-envelope"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-github"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-vimeo-v"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-tumblr"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-vine"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-foursquare"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-stumbleupon"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-flickr"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-yahoo"></a>
            <a href="#" class="scl-btn scl-rnd shadow fas fa-rss"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-medium-m"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-blogger"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-facebook-messenger"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-paypal"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-steam-symbol"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-telegram-plane"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-xing"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-yelp"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-tripadvisor"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-etsy"></a>
            <a href="#" class="scl-btn scl-rnd shadow fab fa-user"></a>
        </div>
    </div>
</div>
</body>
</html>
